<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="text-center">Monitor Status</h2>
			</div>
			<div class="panel-body">
				<div><canvas id="monitor_Status" width="200%" height="200%"></canvas><span class="label label-danger"> </span>Down<span class="label label-success"> </span>Up</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="text-center">Notifications</h2>
			</div>
			<div class="panel-body">
				<div class="alert alert-success container-fluid"><button type="button" class="close" data-dismiss="alert">x</button>New Device added</div>
				<div class="alert alert-dismissible alert-warning"><button type="button" class="close" data-dismiss="alert">x</button>Disk Usage very High on Device : vgec</div>
				<div class="alert alert-dismissible alert-info"><button type="button" class="close" data-dismiss="alert">x</button>Action Pushed with MonitorID:15</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="text-center">{{WidgetHeading}}</h3>
			</div>
			<div class="panel-body">
					Poll-Time: {{monitorResult.Poll_Time}}<br>
					<div><canvas id="fake"></canvas></div>
					MonitorID: {{monitorResult.monitor_id}}<br>
					<button ng-click="analyseMonitor(1,14)" class="btn btn-success btn-sm" id="Analyse">Analyse</button>
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="panel panel-primary" >
			<div class="panel-heading">
				<h2 class="text-center">Recent Stats</h2>
			</div>
			<div class="panel-body" style="background-color:#ad8;" ng-repeat="i in [0,1,2,3,4]"  >
			
			<div class="panel panel-success">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Action Name:  {{recentMonitorLogs[i].actionName}}</h3>
		 		</div>
				<div class="panel-body" style="background-color:#565545;">
				   	<div class="well">
					   	<h4 style="color:#761;">Device Name:   {{recentMonitorLogs[i].deviceName}}<br></h4>
					    <h5 style="color:#e71;">Time of Result Update:   {{recentMonitorLogs[i].Poll_Time}}<br></h5>
					    Monitor ID: {{recentMonitorLogs[i].monitor_id}}<br>
				    </div>
			  	</div>
			</div>
			
			
		
			</div>
		</div>
	</div>
</div>