<!DOCTYPE html>
<html>
<head>
	<title>ENMS</title>
	<link rel="stylesheet" href="../js/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../js/bower_components/bootstrap-material-design/dist/css/ripples.min.css">
	<link rel="stylesheet" href="../js/bower_components/bootstrap-material-design/dist/css/material-fullpalette.min.css">
</head>
<body>

<div class="container-fluid">
	Hello!
</div>

<script src="../js/bower_components/jquery/dist/jquery.min.js"></script>
<script src="../js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../js/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script src="../js/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
<script>
  $.material.init();
</script>
</body>
</html>