<div class="well bs-component">
	<table class="table table-striped table-hover ">
	  <thead>
		  <tr>
		    <th>Device ID</th>
		    <th>Name</th>
		    <th>IP</th>
		    <th>Device Group</th>
		    <th>Actions</th>
		  </tr>
	  </thead>
	  <tbody>
		  <tr ng-repeat="device in devices">
		    <td>{{device.id}}</td>
		    <td>{{device.name}}</td>
		    <td>{{device.ip}}</td>
		    <td>{{device.deviceGroup_id}}</td>
		    <td>
		    	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#actionModal" ng-click="getMonitorbyDeviceId(device.id)">View</button>
		    </td>
		  </tr>
	  </tbody>
	</table>
	
	<div class="modal fade" id="actionModal">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Monitors Available</h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-hover ">
			  <thead>
				  <tr>
				    <th>Monitor ID</th>
				    <th>Name</th>
				    <th>Polling Duration</th>
				    <th>Device</th>
				    <th>Action</th>
				    <th>Last Polling Time</th>
				    <th>Actions</th>
				  </tr>
			  </thead>
			  
			  <tbody>
				  <tr ng-repeat="monitor in monitors">
				    <td>{{monitor.monitor_id}}</td>
				    <td>{{monitor.monitor_name}}</td>
				    <td>{{monitor.polling_duration}}</td>
				    <td>{{monitor.device_id}}</td>
				    <td>{{monitor.action_id}}</td>
				    <td>{{monitor.lastPoll}}</td>
				    <td>
						<button ng-click="analyseMonitor(monitor.monitor_id,monitor.action_id)" class="btn btn-success btn-sm" id="Analyse">Analyse</button>
				    </td>
				  </tr>
			  </tbody>
		</table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
     </div>
      
  </div>
  </div>
  
  
  
  
	<div class="modal fade" id="monitorModal">
	<div class="modal-dialog">
    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Monitors Analysis</h4>
		    </div>
		    
	        <div class="modal-body container-fluid">
				<div class="jumbotron">
				<h2>{{Analysis_Heading}}</h2>
					<h3>MonitorResult ID:{{monitorResult.id}}<br></h3>
					Poll-Time: {{monitorResult.Poll_Time}}<br>
					ResultData: {{monitorResult.resultData}}<br>
					MonitorID: {{monitorResult.monitor_id}}<br>
				</div>
				<div id="demo"></div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
	   		</div>
	</div>
	</div>
</div>
					