<ul class="nav nav-sidebar">
   <li class="active"><a href="#/overview">Overview</a></li>
   <li><a href="#/monitor">Monitor Management</a></li>
   <li><a href="#/device">Device Management</a></li>
   <li><a href="#">Alerts</a></li>
   <li><a href="#/monitor">Add Monitor</a></li>
   <li><a href="#/device/create">Add Devices</a></li>
   <li><a href="">Manage Users</a></li>
   <li><a href="">Manage Users Roles</a></li>
   <li><a href="#/AnalyseMonitorResults">Analyse Monitor Results</a></li>
   <li><a href="">About</a></li>
 </ul>