<div class="well bs-component">
	<a href="#/monitor/create" class="btn btn-raised btn-success">Add Monitor</a>
	<table class="table table-striped table-hover ">
	  <thead>
		  <tr>
		    <th>#</th>
		    <th>Name</th>
		    <th>Polling Duration</th>
		    <th>Device</th>
		    <th>Action</th>
		    <th>Last Polling Time</th>
		    <th>Actions</th>
		  </tr>
	  </thead>
	  <tbody>
		  <tr ng-repeat="monitor in monitors">
		    <td>{{monitor.monitor_id}}</td>
		    <td>{{monitor.monitor_name}}</td>
		    <td>{{monitor.polling_duration}}</td>
		    <td>{{monitor.device_id}}</td>
		    <td>{{monitor.action_id}}</td>
		    <td>{{monitor.lastPoll}}</td>
		    <td>
				<a href="#/monitor/update/{{monitor.monitor_id}}" class="btn btn-warning btn-sm">Update</a>
				<a ng-click="deleteMonitor(monitor.monitor_id)" class="btn btn-danger btn-sm">Delete</a>
		    </td>
		  </tr>
	  </tbody>
	</table>
</div>