body{
	margin:0px;
	padding:0px;
	background-color:#ccddff;
}

html,body{
	background: url("../img/bg.png");
}
.sidebar-offcanvas{
	background-color:#f5f5f5;
	height:100vh;
	outline:none;
	text-decoration:none;
}
.top-navbar{
	background-color:#ff00ff;
}
.nav-sidebar {
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.jumbotron{
	margin:10px;
	padding:0px;
}

.monitor-float-button{
	position:fixed;
	bottom:9px;
	right:9px;
	z-index:2;
}